USE [master]
GO
/****** Object:  Database [Hello]    Script Date: 2/12/2025 2:09:58 PM ******/
CREATE DATABASE [Hello]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hello', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS1\MSSQL\DATA\Hello.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hello_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS1\MSSQL\DATA\Hello_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hello].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hello]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2/12/2025 2:09:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK__BOOKS__3DE0C227080EAD7F] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cats]    Script Date: 2/12/2025 2:09:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cats](
	[CatID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK__CATS__6A1C8ADA1D41D163] PRIMARY KEY CLUSTERED 
(
	[CatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dogs]    Script Date: 2/12/2025 2:09:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dogs](
	[DogID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK__DOGS__46F46EC92B80630B] PRIMARY KEY CLUSTERED 
(
	[DogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/12/2025 2:09:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[CatID] [int] NULL,
	[DogID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [Name], [Quantity]) VALUES (1, N'Harry Potter', 100)
INSERT [dbo].[Books] ([BookID], [Name], [Quantity]) VALUES (2, N'Ring Of Fire', 100)
INSERT [dbo].[Books] ([BookID], [Name], [Quantity]) VALUES (3, N'Hello, World', 100)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Cats] ON 

INSERT [dbo].[Cats] ([CatID], [Name], [Quantity]) VALUES (1, N'Alisa', 100)
INSERT [dbo].[Cats] ([CatID], [Name], [Quantity]) VALUES (2, N'BoogieWoogie', 100)
INSERT [dbo].[Cats] ([CatID], [Name], [Quantity]) VALUES (3, N'Whiskers', 100)
SET IDENTITY_INSERT [dbo].[Cats] OFF
GO
SET IDENTITY_INSERT [dbo].[Dogs] ON 

INSERT [dbo].[Dogs] ([DogID], [Name], [Quantity]) VALUES (1, N'Alisall', 100)
INSERT [dbo].[Dogs] ([DogID], [Name], [Quantity]) VALUES (2, N'BoogieWoogie1', 100)
INSERT [dbo].[Dogs] ([DogID], [Name], [Quantity]) VALUES (3, N'Barkers', 100)
SET IDENTITY_INSERT [dbo].[Dogs] OFF
GO
INSERT [dbo].[Orders] ([OrderID], [Name], [CatID], [DogID]) VALUES (1, N'Order1', 1, 1)
INSERT [dbo].[Orders] ([OrderID], [Name], [CatID], [DogID]) VALUES (2, N'Order2', 2, 2)
INSERT [dbo].[Orders] ([OrderID], [Name], [CatID], [DogID]) VALUES (3, N'Order3', 3, 3)
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CatID])
REFERENCES [dbo].[Cats] ([CatID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([DogID])
REFERENCES [dbo].[Dogs] ([DogID])
GO
USE [master]
GO
